{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">{{ title }}</h2>

  <form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>

  <hr>
<!--  <p>-->
<!--    Уже есть аккаунт?-->
<!--    <a href="/login/{% if role %}?role={{ role }}{% endif %}">-->
<!--      Войти-->
<!--    </a>-->
<!--  </p>-->
</div>
{% endblock %}